<script setup lang="ts">
import { useCheckinoutStore } from "@/stores/checkinout";

const checkinoutStore = useCheckinoutStore();
</script>
<template>
  <v-dialog v-model="checkinoutStore.checkoutDialog" width="300" persistent>
    <center>
      <v-card>
        <v-card-title class="mt-1 fonttitle">Please Check Out</v-card-title>
        <v-btn
          color="red"
          width="150px"
          variant="outlined"
          class="mb-2"
          @click="
            checkinoutStore.openCheckout(),
              (checkinoutStore.checkoutDialog = false)
          "
          >Check out</v-btn
        >
      </v-card>
    </center>
  </v-dialog>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.fonttitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
</style>
