<script setup lang="ts">
import { useCheckinoutStore } from "@/stores/checkinout";

const checkinoutStore = useCheckinoutStore();
</script>
<template>
  <v-dialog v-model="checkinoutStore.checkinDialog" width="300" persistent>
    <center>
      <v-card>
        <v-card-title class="mt-1 fonttitle font-weight-bold"
          >Please Check In</v-card-title
        >
        <v-btn
          color="green"
          width="150px"
          variant="outlined"
          class="mb-2"
          @click="
            checkinoutStore.openCheckin(),
              (checkinoutStore.checkinDialog = false)
          "
          >Check In</v-btn
        >
      </v-card>
    </center>
  </v-dialog>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.fonttitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
</style>
