<script setup lang="ts">
import { useStoreStore } from "@/stores/stores";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const storeStore = useStoreStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await storeStore.saveStore();
  }
}
</script>
<template>
  <v-dialog
    v-model="storeStore.dialog"
    persistent
    width="1024"
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-card-title>
        <span class="fontTitle font-weight-bold">Store Profile</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  class="fontD"
                  label="Name*"
                  required
                  v-model="storeStore.editedStore.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  class="fontD"
                  label="Adress number*"
                  required
                  v-model="storeStore.editedStore.address_detail"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  class="fontD"
                  label="Adress sub district*"
                  required
                  v-model="storeStore.editedStore.address_sub_district"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  class="fontD"
                  label="Adress district*"
                  required
                  v-model="storeStore.editedStore.address_district"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  class="fontD"
                  label="Adress province*"
                  required
                  v-model="storeStore.editedStore.address_province"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  class="fontD"
                  label="Tel*"
                  required
                  v-model="storeStore.editedStore.tel"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 10 || 'Length must equal 10',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small class="fontD">*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#AF0000"
          variant="text"
          @click="storeStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="#7BAE64" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.size {
  font-size: 30px;
}
.fontD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.fontTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
</style>
