<script setup lang="ts">
import { useStoreStore } from "@/stores/stores";
import { onMounted, ref } from "vue";
import StoreDialog from "./StoreDialog.vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useStorePageStore } from "@/stores/store-page";
const storeStore = useStoreStore();
const storePageStore = useStorePageStore();
const confirmDlg = ref();
const deleteStore = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ Id ${id} หรือไม่`
    );
    await storeStore.deleteStore(id);
  } catch (e) {
    /* empty */
  }
};
onMounted(async () => {
  await storePageStore.getStores();
});
</script>
<template>
  <v-app-bar color="#293242">
    <div
      style="
        font-size: xx-large;
        font-family: fantasy;
        padding: 15px;
        color: white;
      "
    >
      Store
    </div>
  </v-app-bar>
  <br />
  <StoreDialog></StoreDialog>
  <v-container>
    <v-table class="d-flex justify-end">
      <thead class="d-flex justify-end">
        <tr>
          <td>
            <v-text-field
              v-model="storePageStore.keyword"
              single-line
              hide-details
              append-inner-icon="mdi-magnify"
              density="compact"
              variant="solo"
              label="Search Name"
              style="
                width: 25vw;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                  sans-serif;
              "
            ></v-text-field>
          </td>
          <td>
            <v-btn
              @click="storeStore.dialog = true"
              color="#03C04A"
              style="
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                  sans-serif;
              "
              >+ Add New</v-btn
            >
          </td>
        </tr>
      </thead>
    </v-table>

    <br />
    <v-table style="font-family: fantasy">
      <thead>
        <tr class="tColor">
          <th class="fonttitle font-weight-bold">ID</th>
          <th class="fonttitle font-weight-bold">Name</th>
          <th class="fonttitle font-weight-bold">Address</th>
          <th class="fonttitle font-weight-bold">Tel</th>
          <th class="fonttitle font-weight-bold"></th>
        </tr>
      </thead>
      <tbody class="fontD">
        <tr v-for="item of storePageStore.stores" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>
            {{ item.address_detail }}, {{ item.address_sub_district }},
            {{ item.address_district }}, {{ item.address_province }}
          </td>
          <td>{{ item.tel }}</td>
          <td>
            <v-btn
              color="#A3A2A2"
              class="mr-5"
              @click="storeStore.editStore(item)"
              ><v-icon icon="mdi-pencil"></v-icon></v-btn
            ><v-btn color="#E86E6E" @click="deleteStore(item.id!)"
              ><v-icon icon="mdi-delete"></v-icon
            ></v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
    <v-pagination
      :length="storePageStore.lastPage"
      rounded="circle"
      v-model="storePageStore.page"
    ></v-pagination>

    <v-container hidden>
      <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
    </v-container>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.fontD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.font {
  font-family: Arial, Helvetica, sans-serif;
}
.tColor {
  background-color: #6f7762;
}
.fonttitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
</style>
