<script setup lang="ts">
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useCatagoryStore } from "@/stores/catagory";
import { useProductStore } from "@/stores/product";
import { onMounted, ref } from "vue";
import ProductDialog from "./ProductDialog.vue";
const productStore = useProductStore();
const catagoryStore = useCatagoryStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;
const confirmDlg = ref();
onMounted(async () => {
  await catagoryStore.getCatagorys();
  await productStore.getProductsByCatagory(productStore.catagory);
});
const deleteProduct = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ Id ${id} หรือไม่`
    );
    await productStore.deleteProduct(id);
  } catch (e) {
    /* empty */
  }
};
</script>
<template>
  <v-app-bar color="#293242">
    <div
      style="
        font-size: xx-large;
        font-family: fantasy;
        padding: 15px;
        color: white;
      "
    >
      Product
    </div>
  </v-app-bar>

  <v-container>
    <v-table>
      <thead class="d-flex justify-end">
        <tr>
          <!-- <td>
              <v-text-field
                single-line
                hide-details
                append-inner-icon="mdi-magnify"
                density="compact"
                variant="solo"
                label="Search"
                style="
                  width: 25vw;
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                    sans-serif;
                "
              ></v-text-field>
            </td> -->
          <td>
            <v-btn
              @click="productStore.dialog = true"
              color="#7BAE64"
              style="
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                  sans-serif;
              "
              ><v-icon icon="mdi-plus"></v-icon>Add Product</v-btn
            >
          </td>
        </tr>
      </thead>
    </v-table>
  </v-container>

  <v-container>
    <v-tabs v-model="productStore.catagory" class="background font" grow>
      <v-tab
        v-for="item of catagoryStore.catagorys"
        :value="item.id"
        :key="item.id"
      >
        {{ item.name }}
      </v-tab>
    </v-tabs>
    <v-card style="color: #fff5">
      <v-table class="fontD">
        <thead class="fontD">
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Size</th>
            <th>Size_Unit</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="fontD">
          <tr v-for="item of productStore.products" :key="item.id">
            <td>{{ item.id }}</td>
            <td>
              <v-img
                :src="`${backendURL}/products/image/${item.image}`"
                height="128px"
              ></v-img>
            </td>
            <td>{{ item.name }}</td>

            <td>{{ item.size }}</td>
            <td>{{ item.size_unit }}</td>
            <td>{{ item.price }}</td>
            <td>
              <v-btn
                color="#A3A2A2"
                class="mr-5"
                @click="productStore.editProduct(item)"
                ><v-icon icon="mdi-pencil"></v-icon></v-btn
              ><v-btn color="#E86E6E" @click="deleteProduct(item.id!)"
                ><v-icon icon="mdi-delete"></v-icon
              ></v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-container>

  <v-container hidden>
    <ProductDialog></ProductDialog>
    <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  </v-container>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.fontD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.templete {
  background-color: #b4a1c2;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.background {
  background-color: #6f7762;
}
.font {
  font-family: fantasy;
}

body {
  height: 100vh;
  background-color: #000;
  background-image: url("https://images.pexels.com/photos/164622/pexels-photo-164622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
}
</style>
