<script lang="ts" setup>
import { useSummarysalaryStore } from "@/stores/summarysalary";

const summaryStore = useSummarysalaryStore();
</script>

<template>
  <v-dialog v-model="summaryStore.paysalarydialog" persistent width="600"
    ><v-card>
      <v-card-title>
        <span class="text-h5"><div class="fontM2">Pay Salary</div></span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-table style="font-family: Arial, Helvetica, sans-serif">
            <thead>
              <tr>
                <th>Name</th>
                <th>SummarySalary</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) of summaryStore.summarysalary"
                :key="index"
              >
                <td>{{ item.employee.name }}</td>
                <td>{{ item.ss_salary }} ฿</td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-card-text>

      <v-card-actions
        ><v-btn
          color="green"
          variant="text"
          @click="summaryStore.paysalarydialog = false"
        >
          PAY
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          color="#AF0000"
          variant="text"
          @click="summaryStore.paysalarydialog = false"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card></v-dialog
  >
</template>
<style scoped></style>
