<script lang="ts" setup>
import { useSummarysalaryStore } from "@/stores/summarysalary";
import { onMounted } from "vue";
import PaySalary from "./PaySalary.vue";
const summarysalaryStore = useSummarysalaryStore();
onMounted(async () => {
  await summarysalaryStore.getSummarysalary();
});
const summaryStore = useSummarysalaryStore();
</script>

<template>
  <v-app-bar color="#293242">
    <div
      style="
        font-size: xx-large;
        font-family: fantasy;
        padding: 15px;
        color: white;
      "
    >
      Summary Salary
    </div>
  </v-app-bar>
  <PaySalary></PaySalary>
  <v-container>
    <v-card style="color: #fff5">
      <v-table class="fontD">
        <thead class="fontD">
          <tr class="tColor">
            <th class="fonttitle font-weight-bold">Employee Name</th>
            <th class="fonttitle font-weight-bold">Summary Salary Date</th>
            <th class="fonttitle font-weight-bold">Summary Salary Work Hour</th>
            <th class="fonttitle font-weight-bold">Summary Salary</th>
            <th class="fonttitle font-weight-bold">Pay Salary</th>
          </tr>
        </thead>
        <tbody class="fontD">
          <tr v-for="item of summarysalaryStore.summarysalary" :key="item.id">
            <td>{{ item.employee.name }}</td>
            <!-- <td>{{ item.ss_date }}</td> -->
            <td>
              {{ JSON.stringify(item.ss_date).substring(1, 11) }}
              {{ JSON.stringify(item.ss_date).substring(12, 20) }}
            </td>

            <!-- <td>{{ item.ss_work_hour }} Hour</td> -->

            <td>
              {{ Math.floor(item.ss_work_hour) }} hours
              {{ Math.floor((item.ss_work_hour % 1) * 60) }} minutes
            </td>

            <td>{{ item.ss_salary }} ฿</td>
            <td>
              <v-btn
                color="#03C04A"
                class="yy"
                @click="summaryStore.deleteSummarySalary(item.id!)"
                >Pay Salary</v-btn
              >
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-container>

  <!-- {{ JSON.stringify(item.cio_time_in).substring(1, 11) }} -->
  <!-- {{ JSON.stringify(item.cio_time_in).substring(12, 20) }} -->
</template>
<style scoped>
.fontD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.fonttitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.tColor {
  background-color: #6f7762;
}
.yy {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
</style>
