<script lang="ts" setup>
import { useRecieptStore } from "@/stores/reciept";
import type Reciept from "@/types/Reciept";
import { onMounted } from "vue";

const recieptStore = useRecieptStore();
onMounted(async () => {
  await recieptStore.getReciepts();
  console.log(recieptStore.reciepts);
});

const Click = (reciept: Reciept) => {
  reciept.show = !reciept.show;
};
</script>

<template>
  <v-app-bar color="#293242">
    <div
      style="
        font-size: xx-large;
        font-family: fantasy;
        padding: 15px;
        color: white;
      "
    >
      Reciept
    </div>
  </v-app-bar>
  <v-container fluid>
    <v-card color="white">
      <v-card-text>
        <v-row class="tColor">
          <v-col cols="1" class="title fontD font-weight-bold">ID</v-col>
          <v-col cols="2" class="title fontD font-weight-bold"
            >Store Name</v-col
          >
          <v-col cols="2" class="title fontD font-weight-bold"
            >Employee Name</v-col
          >
          <v-col cols="2" class="title fontD font-weight-bold"
            >Customer Name</v-col
          >
          <v-col cols="2" class="title fontD font-weight-bold">Payment</v-col>
          <v-col cols="2" class="title fontD font-weight-bold">Total</v-col>
        </v-row>
        <v-divider class="my-3"></v-divider>
        <v-row
          v-for="rec of recieptStore.reciepts"
          :key="rec.id"
          @click="Click(rec)"
        >
          <v-col cols="1">{{ rec.id }}</v-col>
          <v-col cols="2">{{ rec.store?.name }}</v-col>
          <v-col cols="2">{{ rec.employee?.name }}</v-col>
          <v-col cols="2">{{ rec.customer?.name }} </v-col>
          <v-col cols="2">{{ rec.payment }}</v-col>
          <v-col cols="2">{{ rec.total }} ฿</v-col>
          <v-divider></v-divider>
          <v-expand-transition>
            <v-container v-show="rec.show" align="center" justify="center">
              <v-row align="center" justify="center" cols="12" class="tColor1">
                <v-col cols="8">
                  <v-row cols="12">
                    <v-col cols="5" style="padding-left: 6vw" class="title"
                      >Product Name</v-col
                    >
                    <v-col cols="3" class="menu">Product Price</v-col>
                    <v-col cols="2" class="menu">Amount</v-col>
                    <v-col cols="2" class="menu">Total</v-col></v-row
                  ></v-col
                >
                <v-col cols="4"></v-col>
              </v-row>
              <v-row v-for="rcd of rec.recieptDetails" :key="rcd.id">
                <v-row>
                  <v-col cols="8">
                    <v-row cols="12">
                      <v-col cols="5" style="padding-left: 11vw">{{
                        rcd.name || ""
                      }}</v-col>
                      <v-col cols="3">{{ rcd.price }} ฿</v-col>
                      <v-col cols="2">{{ rcd.amount }}</v-col>
                      <v-col cols="2">{{ rcd.total }} ฿</v-col>
                    </v-row></v-col
                  >
                  <v-col cols="4"></v-col></v-row
              ></v-row>
            </v-container>
          </v-expand-transition>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<style scoped>
.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

.menu {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
.tColor {
  background-color: #6f7762;
}

.tColor1 {
  background-color: #a9a9a9;
}
.fontD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
</style>
