<script setup lang="ts">
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useCustomerStore } from "@/stores/customer";
import { onMounted, ref } from "vue";
import CustomerDialog from "./CustomerDialog.vue";
import { useCustomerPageStore } from "@/stores/customer-page";

const customerStore = useCustomerStore();
const customerPageStore = useCustomerPageStore();
const confirmDlg = ref();
const called = ref(false);
onMounted(async () => {
  await customerPageStore.getCustomers();
});
const deleteCustomer = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ Id ${id} หรือไม่`
    );
    await customerStore.deleteCustomer(id);
  } catch (e) {
    /* empty */
  }
};

function clearTel() {
  customerStore.tel = "";
}
</script>
<template>
  <v-container fluid>
    <v-app-bar color="#293242">
      <v-row>
        <div class="style-tittle ml-2" style="color: white">Customer</div>
        <v-switch
          v-model="called"
          color="red"
          value="red"
          class="mt-2 ml-5"
          hide-details
          @click="(called = !called), clearTel()"
        ></v-switch>
      </v-row>
    </v-app-bar>
  </v-container>
  <!-- ปกติ -->
  <v-container v-if="!called">
    <v-container>
      <v-container class="d-flex justify-end">
        <v-table>
          <thead class="d-flex justify-end">
            <tr>
              <td>
                <v-text-field
                  v-model="customerPageStore.keyword"
                  single-line
                  hide-details
                  append-inner-icon="mdi-magnify"
                  density="compact"
                  variant="solo"
                  label="Search Name"
                  class="text-style"
                ></v-text-field>
              </td>
              <td>
                <v-btn
                  @click="customerStore.dialog = true"
                  color="#03C04A"
                  class="add-new-btn"
                  >+ Add New</v-btn
                >
              </td>
            </tr>
          </thead>
        </v-table>
      </v-container>
      <v-card>
        <CustomerDialog></CustomerDialog>
        <v-table style="font-family: fantasy">
          <thead class="tColor">
            <tr>
              <th class="fontD1 font-weight-bold">ID</th>
              <th class="fontD1 font-weight-bold">Name</th>
              <th class="fontD1 font-weight-bold">Tel</th>
              <th class="fontD1 font-weight-bold">Point</th>
              <th class="fontD1 font-weight-bold"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="fontD1"
              v-for="item of customerPageStore.customers"
              :key="item.id"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.point }}</td>
              <td>
                <v-btn
                  color="#A3A2A2"
                  class="mr-5"
                  @click="customerStore.editCustomer(item)"
                  ><v-icon icon="mdi-pencil"></v-icon></v-btn
                ><v-btn color="#E86E6E" @click="deleteCustomer(item.id!)"
                  ><v-icon icon="mdi-delete"></v-icon
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
          :length="customerPageStore.lastPage"
          rounded="circle"
          v-model="customerPageStore.page"
        ></v-pagination>
      </v-card>
      <v-container hidden>
        <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
      </v-container>
    </v-container>
  </v-container>

  <!-- อีกอัน -->
  <v-container fluid v-if="called">
    <v-container>
      <v-container class="d-flex justify-end" fluid>
        <v-table>
          <thead class="d-flex justify-end">
            <tr>
              <td>
                <v-text-field
                  v-model="customerStore.tel"
                  single-line
                  hide-details
                  append-inner-icon="mdi-magnify"
                  density="compact"
                  variant="solo"
                  label="Search Tel"
                  class="text-style"
                ></v-text-field>
              </td>
            </tr>
          </thead>
        </v-table>
      </v-container>
      <v-card>
        <CustomerDialog></CustomerDialog>
        <v-table style="font-family: fantasy">
          <thead>
            <tr class="fontD1 tColor">
              <th class="font-weight-bold">ID</th>
              <th class="font-weight-bold">Name</th>
              <th class="font-weight-bold">Point</th>
              <th class="font-weight-bold"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="fontD1"
              v-for="item of customerStore.customerBytel"
              :key="item.id"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.point }}</td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
          :length="customerPageStore.lastPage"
          rounded="circle"
          v-model="customerPageStore.page"
        ></v-pagination>
      </v-card>
      <v-container hidden>
        <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
      </v-container>
    </v-container>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.fontD {
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
}

.fontD1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.size {
  font-size: 30 px;
}

.text-style {
  width: 25vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.style-tittle {
  font-size: xx-large;
  font-family: fantasy;
  padding: 15px;
  color: #151618;
}

.add-new-btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.tColor {
  background-color: #6f7762;
}
</style>
