<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const customerStore = useCustomerStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await customerStore.saveCustomer();
  }
}
</script>
<template>
  <v-dialog
    v-model="customerStore.dialog"
    persistent
    width="1024"
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-card-title>
        <span class="fontD1 font-weight-bold">Customer Profile</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  class="fontD"
                  label="Name*"
                  required
                  v-model="customerStore.editedCustomer.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  class="fontD"
                  label="Tel*"
                  required
                  v-model="customerStore.editedCustomer.tel"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 10 || 'Length must equal 10',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  class="fontD"
                  label="Point*"
                  required
                  v-model.number="customerStore.editedCustomer.point"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small class="fontD">*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#AF0000"
          variant="text"
          @click="customerStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="#7BAE64" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.fontD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.fontD1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.size {
  font-size: 30 px;
}
</style>
