<script setup lang="ts">
import BestProducts from "@/components/ChartComponents/BestProducts.vue";
import Sales from "@/components/ChartComponents/Sales.vue";
import WorstProducts from "@/components/ChartComponents/WorstProducts.vue";
import MemberByMonth from "@/components/ChartComponents/MemberByMonth.vue";
import { useCustomerStore } from "@/stores/customer";
import { onMounted } from "vue";
import { useEmployeeStore } from "@/stores/employee";
import { computed } from "vue";
import { useRecieptStore } from "@/stores/reciept";
onMounted(async () => {
  await customerStore.getCustomers();
  await customerStore.getCustomerByPoint();
  await employeeStore.getemployeeBySales();
  await riecptStore.getSumOrder();
  await riecptStore.getSumSales();
});
const customerStore = useCustomerStore();
const employeeStore = useEmployeeStore();
const riecptStore = useRecieptStore();
const sumOrder = computed(() => riecptStore.sum_order);
const sumSale = computed(() => riecptStore.sum_sale);
</script>
<template>
  <v-app-bar color="#293242">
    <div
      style="
        font-size: xx-large;
        font-family: fantasy;
        padding: 15px;
        color: white;
      "
    >
      DashBoard
    </div>
  </v-app-bar>
  <v-container style="background-color: #4e7286; padding-bottom: 56.5vh" fluid>
    <v-container>
      <v-container>
        <v-col cols="12"></v-col>
        <v-row>
          <v-col cols="6">
            <v-card color="" :class="'ma-2 pa-3'" outline tile>
              <v-card-title class="fontOrder font-weight-bold"
                >Order Count : {{ sumOrder }}</v-card-title
              >
            </v-card>
          </v-col>
          <v-col cols="6">
            <v-card color="" :class="'ma-2 pa-3'" outline tile>
              <v-card-title class="fontOrder font-weight-bold"
                >Sales : {{ sumSale }} ฿</v-card-title
              >
            </v-card></v-col
          >
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-card color="" :class="'ma-2 pa-3'" outline tile>
              <v-card-title class="fontD font-weight-bold"
                >Product Best Seller</v-card-title
              >
              <BestProducts></BestProducts>
            </v-card>
          </v-col>
          <v-col cols="6">
            <v-card color="" :class="'ma-2 pa-3'" outline tile>
              <v-card-title class="fontD font-weight-bold"
                >Product Worst Seller</v-card-title
              >
              <WorstProducts></WorstProducts>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-card
              color=""
              :class="'ma-2 pa-3'"
              outline
              tile
              width="1122px"
              height="550px"
            >
              <v-card-title class="fontD font-weight-bold"
                >Sale By Time of the day</v-card-title
              >
              <Sales></Sales>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-card
              color=""
              :class="'ma-2 pa-3'"
              outline
              tile
              width="1122px"
              height="550px"
            >
              <v-card-title class="fontD font-weight-bold"
                >Customer Count By Month</v-card-title
              >
              <MemberByMonth></MemberByMonth>
            </v-card>
          </v-col>
        </v-row>
        <!-- <v-col cols="4">
          <v-card color="" :class="'ma-2 pa-3'" outline tile>
            <v-carousel>
              <v-carousel-item
                src="https://cdn.discordapp.com/attachments/1055371315802030092/1093801656287756318/48.jpg"
                cover
              ></v-carousel-item>

              <v-carousel-item
                src="https://cdn.discordapp.com/attachments/1055371315802030092/1093801605184376922/4.jpg"
                cover
              ></v-carousel-item>

              <v-carousel-item
                src="https://cdn.discordapp.com/attachments/1055371315802030092/1093801714299191326/6.jpg"
                cover
              ></v-carousel-item>
            </v-carousel>
          </v-card>
        </v-col> -->
        <v-row>
          <v-col cols="6">
            <v-card color="" :class="'ma-2 pa-3'" outline tile>
              <v-card-title class="fontD font-weight-bold"
                >Best Member</v-card-title
              >
              <v-table>
                <thead>
                  <tr class="tColor">
                    <th class="fontD1 font-weight-bold">Name</th>
                    <th class="fontD1 font-weight-bold">Surname</th>
                    <th class="fontD1 font-weight-bold">Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="fontD1"
                    v-for="item of customerStore.customerBypoint"
                    :key="item.id"
                  >
                    <td>{{ item.customer_name }}</td>
                    <td>{{ item.customer_surname }}</td>
                    <td>{{ item.point }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-col>

          <v-col cols="6">
            <v-card color="" :class="'ma-2 pa-3'" outline tile>
              <v-card-title class="fontD font-weight-bold"
                >Best Employee</v-card-title
              >
              <v-table>
                <thead>
                  <tr class="tColor">
                    <th class="fontD1 font-weight-bold">Name</th>
                    <th class="fontD1 font-weight-bold">Surname</th>
                    <th class="fontD1 font-weight-bold">Sales</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="fontD1"
                    v-for="item of employeeStore.employeeBySales"
                    :key="item.id"
                  >
                    <td>{{ item.name }}</td>
                    <td>{{ item.surname }}</td>
                    <td>{{ item.top_emp }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-container>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.fontD {
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
}
.fontD1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.bg1-color {
  background-color: #d3e0ea;
}
.size {
  font-size: 40px;
}
.tColor {
  background-color: #6f7762;
}
.fontOrder {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}
</style>
