<script setup lang="ts">
import { useCheckinoutStore } from "@/stores/checkinout";

const toggleBtn = document.querySelector(".toggle_btn");
const toggleBtnIcon = document.querySelector(".toggle_btn i");
const dropDownMenu = document.querySelector(".dropdown_menu");

// toggleBtn.onclick = function () {
//   if (dropDownMenu?.classList.toggle("open")) {
//     dropDownMenu.classList.remove("open");
//   } else {
//     dropDownMenu.classList.add("open");
//   }
// };
const checkinoutStore = useCheckinoutStore();
</script>

<template>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>D-Coffee Navbar</title>
  </head>
  <main>
    <body>
      <header>
        <div class="navbar">
          <div class="logo"><a href="#">D-Coffee Shop</a></div>
          <ul class="links">
            <li>
              <a href="pointofsale" onclick="alert('อย่าลืม Checkin!');"
                >Point of Sell</a
              >
            </li>
            <li>
              <a href="Product" onclick="alert('อย่าลืม Checkin!');">Product</a>
            </li>
            <li>
              <a href="Store" onclick="alert('อย่าลืม Checkin!');">Store</a>
            </li>
            <li>
              <a href="Customer" onclick="alert('อย่าลืม Checkin!');"
                >Customer</a
              >
            </li>
            <li>
              <a href="Employee" onclick="alert('อย่าลืม Checkin!');"
                >Employee</a
              >
            </li>
            <li>
              <a href="User" onclick="alert('อย่าลืม Checkin!');">User</a>
            </li>
            <li>
              <a href="Material" onclick="alert('อย่าลืม Checkin!');"
                >Material</a
              >
            </li>
            <li>
              <a href="Reciept" onclick="alert('อย่าลืม Checkin!');">Reciept</a>
            </li>
          </ul>
          <a href="/" class="action_btn">Log out</a>
          <div class="toggle_btn">
            <i><v-icon icon="mdi-text"></v-icon></i>
          </div>
        </div>

        <div class="dropdown_menu">
          <li>
            <a href="pointofsale" onclick="alert('อย่าลืม Checkin!');"
              >Point of Sell</a
            >
          </li>
          <li>
            <a href="Product" onclick="alert('อย่าลืม Checkin!');">Product</a>
          </li>
          <li>
            <a href="Store" onclick="alert('อย่าลืม Checkin!');">Store</a>
          </li>
          <li>
            <a href="Customer" onclick="alert('อย่าลืม Checkin!');">Customer</a>
          </li>
          <li>
            <a href="Employee" onclick="alert('อย่าลืม Checkin!');">Employee</a>
          </li>
          <li><a href="User" onclick="alert('อย่าลืม Checkin!');">User</a></li>
          <li>
            <a href="Material" onclick="alert('อย่าลืม Checkin!');">Material</a>
          </li>
          <li>
            <a href="Reciept" onclick="alert('อย่าลืม Checkin!');">Reciept</a>
          </li>
          <li>
            <a href="/" class="action_btn">Log out</a>
          </li>
        </div>
      </header>
      <main>
        <section id="hero">
          <h1>Welcome</h1>
          <p>This website is for D-Coffee Project test</p>
        </section>
      </main>
    </body>
  </main>
</template>
<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

body {
  height: 100vh;
  background-color: #000;
  background-image: url(https://images.wallpaperscraft.com/image/single/coffee_cup_magazine_146258_1920x1080.jpg);
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 2rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 3.5rem;
  font-size: 1rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #974928;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: blanchedalmond;
}

.action_btn:active {
  scale: 0.95rem;
}

section#hero {
  padding-top: 400px;
  height: calc(100vh- 60px);
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu.open {
  height: 240px;
}

@media (max-width: 1159px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
</style>
