<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const authStore = useAuthStore();

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    authStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <v-app>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <v-main>
      <body>
        <div class="container">
          <div class="img">
            <img src="" />
          </div>
          <v-card class="mx-auto login-content">
            <v-form ref="form" class="login_form" v-model="valid">
              <img
                src="https://media.discordapp.net/attachments/1055371315802030092/1060895873158107288/IMG_6879_1.png?width=739&height=671"
              />
              <h2 class="title">Welcome</h2>
              <h3 class="left">Email</h3>

              <v-text-field
                class="right"
                v-model="loginName"
                :rules="[
                  (v) => !!v || 'Email is required',
                  (v) =>
                    /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                    'Email is not valid!!',
                ]"
                required
              ></v-text-field>
              <h3 class="left">Password</h3>
              <v-text-field
                class="right"
                type="password"
                v-model="password"
                :rules="[
                  (v) => !!v || 'Password is required',
                  (v) =>
                    v.length >= 8 ||
                    'Password must be more than or equal 8 characters',
                ]"
                required
              ></v-text-field>
              <br />
              <v-card-actions class="justify-center">
                <v-btn
                  color="success"
                  @click="login"
                  class="justify"
                  width="120px"
                  height="40px"
                  rounded="pill"
                  variant="flat"
                  >Login</v-btn
                ><br />
                <v-btn
                  color="error"
                  @click="reset"
                  class="justify"
                  width="120px"
                  height="40px"
                  rounded="pill"
                  variant="flat"
                  >Clear</v-btn
                >
              </v-card-actions>
            </v-form>
          </v-card>
        </div>
      </body>
    </v-main>
  </v-app>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

.bag {
  background-color: #974928;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backgroud {
  background: rgb(57, 71, 58);
  background: linear-gradient(
    180deg,
    rgba(57, 71, 58, 1) 22%,
    rgba(116, 100, 81, 1) 53%,
    rgba(170, 140, 104, 1) 100%
  );
}

.login_form #user_error,
.login_form #pass_error {
  margin-top: 5px;
  width: 345px;
  font-size: 17px;
  color: #c62828;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}
.justify {
  text-align: center;
}
.second-color {
  color: black;
}

.border {
  border-radius: 1px;
}

.font {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
}

.fontThai {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-image: url("https://images.wallpaperscraft.com/image/single/coffee_drink_mug_205071_1920x1080.jpg");
  background-size: cover;
  background-position: center;
  background-color: #974928;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 600px;
}

.img img {
  width: 500px;
}

form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-div div {
  position: relative;
  height: 45px;
}

.input-div div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #f7f7f7;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus div h5 {
  top: -5px;
  font-size: 20px;
}

.input-div.focus .i i {
  color: #38d39f;
}

.input-div div input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}
</style>
