<script setup lang="ts">
import { useBillStore } from "@/stores/bill";
import { useCheckMaterialStore } from "@/stores/checkmaterial";
import { useCheckMaterialDetailStore } from "@/stores/checkmaterialdetail";
import { useMaterialStore } from "@/stores/material";
import { useMaterialPageStore } from "@/stores/material-page";
const checkmaterialStore = useCheckMaterialStore();
const checkmaterialdetailStore = useCheckMaterialDetailStore();
const materialStore = useMaterialStore();
const billStore = useBillStore();
const materialPageStore = useMaterialPageStore();
</script>
<template>
  <v-dialog
    v-model="billStore.Adddialog"
    persistent
    width="90%"
    transition="dialog-bottom-transition"
  >
    <v-card class="color">
      <v-row>
        <v-col>
          <v-container
            class="bg-tab font"
            style="height: 80vh; overflow: auto"
            fluid
          >
            <v-container>
              <v-row
                ><v-text-field
                  v-model="materialPageStore.keyword"
                  single-line
                  hide-details
                  append-inner-icon="mdi-magnify"
                  density="compact"
                  variant="solo"
                  label="Search Name"
                  class="mt-2"
                  style="
                    width: 25vw;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                      sans-serif;
                  "
                ></v-text-field>
              </v-row>
              <br />
              <v-row>
                <v-col
                  cols="4"
                  fluid
                  v-for="item of materialPageStore.materials"
                  :key="item.id"
                >
                  <v-card height="21  0px " width="205px">
                    <v-row>
                      <v-card-text class="fontG size">
                        <div class="sizefont ml-2 mt-1">{{ item.name }}</div>
                        <br />
                        <div class="ml-2">Quantity: {{ item.quantity }}</div>
                        <br />
                        <div class="ml-2">Price: {{ item.price_per_unit }}</div>
                      </v-card-text>
                    </v-row>
                    <v-row
                      ><v-col>
                        <v-card-actions>
                          <v-btn
                            class="fontC font-weight-bold sizeButton"
                            height="40"
                            block
                            color="green"
                            @click="billStore.addMaterial(item)"
                            >BUY</v-btn
                          ></v-card-actions
                        ></v-col
                      >
                    </v-row>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-container>
        </v-col>
        <v-col
          ><v-card-title class="fontC font-weight-bold sizeMM">
            Add Material Profile
          </v-card-title>
          <v-card-text class="fontC">
            <v-card-subtitle class="sizeL2">
              Employee name:
              {{ checkmaterialStore.employeeName }}</v-card-subtitle
            >
          </v-card-text>
          <v-card-text
            ><v-table
              style="
                height: 40vh;
                overflow: auto;
                background-color: #a9a9a9;
                border: 2px solid #a9a9a9;
                border-radius: 12px;
                padding: 5px;
              "
            >
              <v-list
                subheader
                two-line
                class="mt-3 overflow-hidden ml-5"
                height="100px"
                width="96%"
                style="border-radius: 7px"
                v-for="(item, index) of billStore.BillList"
                :key="index"
              >
                <v-row>
                  <!-- <v-col> -->
                  <!-- <v-list-item-title class="fontC ml-4 mt-6 sizefont2">
                        <v-row class="sizelist">
                          <v-col>{{ item.material.name }}</v-col>
                          <v-col>X {{ item.amount }}</v-col>
                          <v-col>{{ item.sum }} ฿</v-col>
                        </v-row>
                      </v-list-item-title> -->
                  <!-- </v-col> -->

                  <v-col cols="4" class="ml-4 mt-7 sizefont2">{{
                    item.material.name
                  }}</v-col>
                  <v-col cols="2" class="ml-4 mt-7 sizefont2"
                    >X {{ item.amount }}</v-col
                  >
                  <v-col cols="2" class="ml-4 mt-7 sizefont2"
                    >{{ item.sum }} ฿</v-col
                  >
                  <v-col class="mr-9">
                    <v-spacer></v-spacer>
                    <v-btn
                      color="#c8a27c"
                      class="ml-16 mt-4"
                      small
                      flat
                      outline
                      icon="mdi-trash-can-outline"
                      @click="billStore.deleteMaterialList(index)"
                    >
                    </v-btn>
                  </v-col>
                </v-row>
              </v-list>
            </v-table>
          </v-card-text>
          <v-toolbar color="rgba(0,0,0,0)" flat>
            <v-card-item class="fontC sizefont sizefont2">Total:</v-card-item>
            <v-card-item class="fontC"> {{ billStore.sumPrice }}฿</v-card-item>
          </v-toolbar>
          <v-toolbar color="rgba(0,0,0,0)" flat>
            <v-card-item class="fontC sizefont sizefont2">Buy:</v-card-item>
            <v-text-field
              variant="underlined"
              class="fontG"
              v-model="billStore.received"
              single-line
              required
              clearable
              :rules="[
                (v) => !!v || 'This field is required',
                (v) => !isNaN(v) || 'Please input number',
              ]"
            ></v-text-field
            ><v-card-item class="fontC"> ฿</v-card-item>
          </v-toolbar>
          <v-toolbar color="rgba(0,0,0,0)" flat>
            <v-card-item class="fontC sizefont sizefont2">Change: </v-card-item
            ><v-card-item class="fontC"
              >{{
                (billStore.change = billStore.received - billStore.sumPrice)
              }}
              ฿</v-card-item
            >
          </v-toolbar>
        </v-col>
      </v-row>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          class="fontF"
          color="blue"
          variant="text"
          @click="billStore.openmaterialBill()"
        >
          Print Bill
        </v-btn>
        <v-btn
          class="fontF"
          color="#AF0000"
          variant="text"
          @click="
            (billStore.Adddialog = false),
              checkmaterialStore.clearCheckMat(),
              billStore.clearBill()
          "
        >
          Close
        </v-btn>
        <v-btn
          class="fontF"
          color="#7BAE64"
          variant="text"
          @click="billStore.openBill()"
        >
          Confirm
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style>
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

.fontv2 {
  font-size: 20px;
}

.fontThai2 {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
}

.sizefont {
  font-weight: bold;
}

.sizefont2 {
  font-size: 18px;
}

.fontF {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.fontG {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.fontA {
  font-size: 18px;
}

.tColor {
  background-color: #d6985c;
}

.sizelist {
  font-size: 17px;
}

.sizeMM {
  font-size: 25px;
}
</style>
