<script setup lang="ts">
import { useBillStore } from "@/stores/bill";

const billStore = useBillStore();
</script>
<template>
  <v-dialog v-model="billStore.billdialog" persistent width="600">
    <v-card>
      <v-card-title>
        <span class="text-h5"><div class="fontM2">Print Bills</div></span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <div class="fontsize">Material List</div>

          <v-table style="font-family: Arial, Helvetica, sans-serif">
            <thead>
              <tr>
                <th>Amount</th>
                <th>Name</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) of billStore.BillList" :key="index">
                <td>{{ item.amount }}</td>

                <td>{{ item.material.name }}</td>
                <td>{{ item.sum }} ฿</td>
              </tr>
            </tbody>
          </v-table>
          <br />
          <v-row>
            <v-col cols="12">
              <div class="fontsize">Total</div>
              <div>{{ billStore.sumPrice }}</div>
            </v-col>

            <v-col cols="12">
              <div class="fontsize">Buy</div>
              <div>{{ billStore.received }}</div>
            </v-col>

            <v-col cols="12">
              <div class="fontsize">Change</div>
              <div>{{ billStore.change }}</div>
            </v-col>
          </v-row>
          <br />
          <v-row>
            <v-col>
              <div class="font5">Thank you for using the service シ</div>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#AF0000"
          variant="text"
          @click="billStore.billdialog = false"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style>
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
.font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.fontsize {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.font5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 23px;
  text-align-last: center;
}
.fontM2 {
  text-align-last: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
</style>
