<script setup lang="ts">
import { useCheckMaterialStore } from "@/stores/checkmaterial";
const checkmaterialStore = useCheckMaterialStore();
</script>

<template>
  <v-dialog
    v-model="checkmaterialStore.dialog"
    persistent
    width="520"
    transition="dialog-bottom-transition"
    ><center>
      <v-card height="250">
        <v-card-title class="fontC mt-3 fonttitle">
          Please confirm your employee status</v-card-title
        >
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    class="fontC"
                    label="Your phone number*"
                    required
                    v-model="checkmaterialStore.employee"
                    :rules="[
                      (v) => !!v || 'Item is required',
                      (v) => v.length == 10 || 'Length must equal 10',
                    ]"
                    variant="underlined"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            color="#AF0000"
            variant="text"
            class="fonttitlebtn"
            @click="
              (checkmaterialStore.dialog = false),
                checkmaterialStore.clearCheckMat()
            "
          >
            Close
          </v-btn>

          <v-btn
            color="#7BAE64"
            class="fonttitlebtn"
            variant="text"
            @click="checkmaterialStore.findEmpCheckMaterial()"
          >
            Find
          </v-btn>
        </v-card-actions>
      </v-card>
    </center>
  </v-dialog>
</template>
<style>
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Old+Standard+TT&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.font {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 25px;
}
.center {
  justify-content: center;
}
.fontB {
  font-family: "Lora", serif;
  font-size: 20px;
}
.fontC {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.fontF {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.fonttitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.fonttitlebtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
</style>
