<script setup lang="ts">
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useMaterialStore } from "@/stores/material";
import { onMounted, ref } from "vue";
import { useMaterialPageStore } from "@/stores/material-page";
import { useCheckMaterialStore } from "@/stores/checkmaterial";
import CheckMaterialDialog from "./CheckMaterialDialog.vue";
import CheckMaterialDetailDialog from "./CheckMaterialDetailDialog.vue";
import CheckAddMaterialDialog from "./CheckAddMaterialDialog.vue";
import BillAddMaterialDialog from "./BillAddMaterialDialog.vue";
const materialStore = useMaterialStore();
const materialPageStore = useMaterialPageStore();
const confirmDlg = ref();
onMounted(async () => {
  await materialPageStore.getMaterials();
});
const deleteMaterial = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ Id ${id} หรือไม่`
    );
    await materialStore.deleteMaterial(id);
  } catch (e) {
    /* empty */
  }
};

const checkmaterialStore = useCheckMaterialStore();
</script>
<template>
  <v-app-bar color="#293242">
    <div
      style="
        font-size: xx-large;
        font-family: fantasy;
        padding: 15px;
        color: white;
      "
    >
      Material
    </div>
  </v-app-bar>

  <v-container>
    <v-container class="d-flex justify-end">
      <v-table>
        <thead>
          <tr>
            <td>
              <v-text-field
                class="mr-5"
                v-model="materialPageStore.keyword"
                single-line
                hide-details
                append-inner-icon="mdi-magnify"
                density="compact"
                variant="solo"
                label="Search Name"
                style="
                  width: 25vw;
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                    sans-serif;
                "
              ></v-text-field>
            </td>
            <td>
              <v-btn
                @click="checkmaterialStore.dialog = true"
                color="#8BD2EC"
                style="
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                    sans-serif;
                "
                >Check Material</v-btn
              >
              <v-btn
                @click="checkmaterialStore.Adddialog = true"
                color="green"
                class="ml-5"
                style="
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                    sans-serif;
                "
                >Add Material</v-btn
              >
            </td>
          </tr>
        </thead>
      </v-table>
    </v-container>
    <CheckMaterialDialog></CheckMaterialDialog>
    <CheckMaterialDetailDialog></CheckMaterialDetailDialog>
    <CheckAddMaterialDialog></CheckAddMaterialDialog>
    <BillAddMaterialDialog></BillAddMaterialDialog>
    <v-card>
      <v-table style="font-family: Arial, Helvetica, sans-serif">
        <thead class="tColor">
          <tr>
            <th class="fonttitle font-weight-bold">ID</th>
            <th class="fonttitle font-weight-bold">Name</th>
            <th class="fonttitle font-weight-bold">Quantity</th>
            <th class="fonttitle font-weight-bold">Unit</th>
            <th class="fonttitle font-weight-bold">Price per unit</th>
            <th class="fonttitle font-weight-bold">Status</th>

            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody class="fontD">
          <tr v-for="item of materialPageStore.materials" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.price_per_unit }}</td>

            <!-- <td class="fontD font-weight-bold" v-if="item.quantity < 20">
              น้อย<v-icon
                color="red"
                class="ml-2"
                icon="mdi-chevron-double-left"
              ></v-icon>
            </td>
            <td class="fontD font-weight-bold" v-if="item.quantity >= 20">
              ปกติ<v-icon
                color="green"
                class="ml-2"
                icon="mdi-chevron-double-right"
              ></v-icon>
            </td> -->

            <td
              class="fontD font-weight-bold"
              v-if="item.quantity < item.min_quantity"
            >
              น้อย<v-icon
                color="red"
                class="ml-2"
                icon="mdi-chevron-double-left"
              ></v-icon>
            </td>
            <td
              class="fontD font-weight-bold"
              v-if="item.quantity >= item.min_quantity"
            >
              ปกติ<v-icon
                color="green"
                class="ml-2"
                icon="mdi-chevron-double-right"
              ></v-icon>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-pagination
        :length="materialPageStore.lastPage"
        rounded="circle"
        v-model="materialPageStore.page"
      ></v-pagination>
    </v-card>
  </v-container>
  <v-container hidden>
    <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.fontD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.fonttitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.tColor {
  background-color: #6f7762;
}
</style>
