<script setup lang="ts">
import router from "@/router";
import { useAuthStore } from "@/stores/auth";
import { useCheckinoutStore } from "@/stores/checkinout";
import { ref } from "vue";

const drawer = ref(true);
const authStore = useAuthStore();
const nameShow = localStorage.getItem("name");
const positionShow = localStorage.getItem("position");
const checkinoutStore = useCheckinoutStore();
const disabledIn = ref(false);
const disabledout = ref(true);
</script>
<template>
  <v-navigation-drawer
    expand-on-hover
    rail
    color="#FCEE9E"
    v-model="drawer"
    app
  >
    <v-list>
      <v-list-item
        prepend-avatar="https://cdn-icons-png.flaticon.com/512/2408/2408265.png"
        :title="`${nameShow}`"
        :subtitle="`${positionShow}`"
      ></v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list density="compact" nav active-color="#974928">
      <v-list-item
        prepend-icon="mdi-account-check"
        :value="checkinoutStore.checkinoutId"
        title="Checkin"
        @click="
          (checkinoutStore.checkinDialog = true),
            (disabledIn = true),
            (disabledout = false)
        "
        :disabled="disabledIn"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-cart-outline"
        title="Point of sale"
        value="pointofsale"
        to="/pointofsale"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-food-outline"
        title="Product"
        value="product"
        to="/product"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-food-apple-outline"
        title="Material"
        value="material"
        to="/material"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-storefront-outline"
        title="Store"
        value="store"
        to="/store"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-chart-line"
        title="Dashboard"
        value="dashboard"
        to="/dashboard"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-outline"
        title="Customer"
        value="customer"
        to="/customer"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-tie-outline"
        title="Employee"
        value="employee"
        to="/employee"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-content-paste"
        title="Reciept"
        value="reciept"
        to="/reciept"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-cash"
        title="Summary Salary"
        value="SummarySalary"
        to="/SummarySalary"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-logout-variant"
        :value="checkinoutStore.checkinoutId"
        title="Logout"
        @click="checkinoutStore.checkoutDialog = true"
        :disabled="disabledout"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
<style scoped></style>
