<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import CustomerDialog from "@/views/customers/CustomerDialog.vue";
import FindMember from "./FindMember.vue";
import { useRecieptStore } from "@/stores/reciept";
import { ref } from "vue";

const customerStore = useCustomerStore();
const recieptStore = useRecieptStore();
// const disabledIn = ref(false);
</script>
<template>
  <v-container class="font ml-8">
    <thead>
      <tr>
        <td>
          <v-row>
            <v-col>
              <v-btn
                color="#A27B5C"
                prepend-icon="mdi-account-search"
                height="50px"
                width="250px"
                class="fontD rounded-lg font-weight-bold"
                @click="customerStore.Teldialog = true"
                >SEARCH CUSTOMER</v-btn
              >
            </v-col>
            <v-col>
              <CustomerDialog></CustomerDialog>
              <v-btn
                color="#A27B5C"
                prepend-icon="mdi-account-plus"
                height="50px"
                width="250px"
                class="fontD rounded-lg font-weight-bold"
                @click="customerStore.dialog = true"
                >ADD NEW CUSTOMER</v-btn
              ></v-col
            >
            <v-col>
              <CustomerDialog></CustomerDialog>
              <v-btn
                color="#A27B5C"
                prepend-icon="mdi-sale"
                height="50px"
                width="250px"
                class="fontD rounded-lg font-weight-bold"
                @click="recieptStore.promotion = true"
                :disabled="recieptStore.disabledIn"
                >PROMOTION</v-btn
              ></v-col
            >
          </v-row>
        </td>
      </tr>
    </thead>
  </v-container>
  <FindMember></FindMember>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.box {
  display: flex;
  justify-content: flex-end;
}

.v-text-field {
  width: 210px;
}
.bg-color {
  background-color: rgb(250, 228, 222);
}
.font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.font-size {
  font-size: 18px;
}
.fontD {
  font-family: "Bebas Neue", cursive;
  font-size: 23px;
}
</style>
