<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const customerStore = useCustomerStore();
async function find() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await customerStore.getCustomersByTelPOS();
  }
}
</script>
<template>
  <v-dialog v-model="customerStore.Teldialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">Customer Find</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Number Phone*"
                  required
                  v-model="customerStore.findCustomer.tel"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 10 || 'Length must equal 10',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#AF0000"
          variant="text"
          @click="customerStore.Teldialog = false"
        >
          Close
        </v-btn>
        <v-btn color="#7BAE64" variant="text" @click="find"> Find </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
