<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import { useRecieptStore } from "@/stores/reciept";
import RecieptDialogView from "@/views/pointofsale/RecieptDialogView.vue";
import { computed } from "vue";

const backendURL = import.meta.env.VITE_BACKEND_URL;

const recieptStore = useRecieptStore();
const customerStore = useCustomerStore();

const change = computed(() => {
  return (
    recieptStore.received - (recieptStore.sumPrice - recieptStore.discount)
  );
});
</script>
<template>
  <RecieptDialogView></RecieptDialogView>
  <v-container class="font" fixed>
    <v-card class="mr-2 ml-2 mt-1 bg-color" flat color="#E2DCC8">
      <v-card-title class="bg-head font">
        <h2 class="text-center th fontD size">Bills</h2>
      </v-card-title>
    </v-card>

    <span class="fontD font-weight-bold">Product List</span>
    <v-table style="height: 40vh; overflow: auto; background-color: #e2dcc8">
      <v-list
        subheader
        two-line
        class="mt-1 overflow-hidden fontD"
        height="150px"
        v-for="(item, index) of recieptStore.orderList"
        :key="index"
      >
        <v-row
          ><v-col cols="5">
            <v-avatar size="120" class="mt-2 ml-16">
              <v-img cover :src="`${backendURL}/products/image/${item.image}`">
              </v-img>
            </v-avatar>
          </v-col>

          <v-col>
            <v-list-item-title class="fontD ml-4 mt-6 size2">{{
              item.product.name
            }}</v-list-item-title>

            <v-list-item-title class="fontD caption ml-4 mt-3 size2"
              >{{ item.sum }} ฿</v-list-item-title
            >
            <v-list-item-title class="fontD ml-4 mt-3 size2"
              >X {{ item.amount }}
            </v-list-item-title>
          </v-col>

          <v-col>
            <v-btn
              color="#c8a27c"
              small
              flat
              outline
              class="mt-12 fontD size3"
              @click="recieptStore.deleteProductList(index)"
              >Delete
              <v-icon icon="mdi-trash-can-outline"></v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-list>
    </v-table>
    <v-toolbar color="rgba(0,0,0,0)" density="compact" flat>
      <span class="fontD font-weight-bold">Subtotal</span><v-spacer></v-spacer
      ><span class="fontD font-weight-bold">{{ recieptStore.sumPrice }} ฿</span>
    </v-toolbar>

    <v-toolbar color="rgba(0,0,0,0)" density="compact" flat>
      <span class="fontD font-weight-bold">Name Member</span
      ><v-spacer></v-spacer
      ><span class="fontD font-weight-bold"
        >{{ customerStore.POSnameMember }}
      </span>
    </v-toolbar>

    <v-toolbar color="rgba(0,0,0,0)" density="compact" flat>
      <span class="fontD font-weight-bold">Discount</span><v-spacer></v-spacer
      ><span class="fontD font-weight-bold">{{ recieptStore.discount }} ฿</span>
    </v-toolbar>
    <v-divider length="100%"></v-divider>
    <v-toolbar color="rgba(0,0,0,0)" density="compact" flat>
      <span class="fontD font-weight-bold">Received</span><v-spacer></v-spacer
      ><v-text-field
        variant="underlined"
        class="fontD font-weight-bold"
        style="width: 2px"
        v-model="recieptStore.received"
        single-line
        required
        clearable
        :rules="[(v) => !!v || '']"
      ></v-text-field>
      <span class="fontD font-weight-bold">฿</span></v-toolbar
    >

    <v-toolbar color="rgba(0,0,0,0)" density="compact" flat>
      <span class="fontD font-weight-bold">Total</span><v-spacer></v-spacer
      ><span class="fontD font-weight-bold"
        >{{ recieptStore.sumPrice - recieptStore.discount }} ฿</span
      >
    </v-toolbar>
    <v-toolbar color="rgba(0,0,0,0)" density="compact" flat>
      <span class="fontD font-weight-bold">Change</span><v-spacer></v-spacer>
      <span
        class="fontD font-weight-bold"
        v-if="recieptStore.payment == 'Cash'"
      >
        {{ change }} ฿
      </span>
      <span
        class="fontD font-weight-bold"
        v-if="recieptStore.payment == 'E-Wallet'"
      >
        0
      </span>
      <span
        class="fontD font-weight-bold"
        v-if="recieptStore.payment == 'Card'"
      >
        0
      </span>
    </v-toolbar>

    <v-toolbar color="rgba(0,0,0,0)" density="compact" flat>
      <span class="fontD font-weight-bold">Payment Method</span
      ><v-spacer></v-spacer><span>{{ recieptStore.payment }}</span>
    </v-toolbar>
    <v-item-group mandatory class="mt-n1">
      <v-container>
        <v-row justify="center">
          <v-col cols="12" md="4">
            <v-item v-slot="{ active, toggle }">
              <v-card
                color="white"
                :class="active ? 'borderme' : ''"
                class="d-flex align-center rounded-lg line"
                dark
                height="65"
                @click="toggle"
                flat
              >
                <v-row>
                  <v-col cols="12" md="12">
                    <v-list-item
                      three-line
                      class="text-center"
                      @click="recieptStore.cash()"
                    >
                      <v-list-item-content>
                        <div>
                          <v-icon
                            :color="active ? '#704232' : 'black'"
                            icon="mdi-cash"
                            size="45px"
                          ></v-icon>
                        </div>
                        <v-list-item-subtitle
                          :class="active ? 'brown--text' : 'black--text'"
                          class="mt-n1 caption"
                          >Cash
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </v-card>
            </v-item>
          </v-col>
          <v-col cols="12" md="4">
            <v-item v-slot="{ active, toggle }">
              <v-card
                color="white"
                :class="active ? 'borderme' : ''"
                class="d-flex align-center rounded-lg line"
                dark
                height="65"
                @click="toggle"
                flat
              >
                <v-row>
                  <v-col cols="12" md="12">
                    <v-list-item
                      three-line
                      class="text-center"
                      @click="
                        recieptStore.wallet(),
                          (recieptStore.QRcodeDialog = true)
                      "
                    >
                      <v-list-item-content>
                        <div>
                          <v-icon
                            :color="active ? '#704232' : 'black'"
                            icon="mdi-wallet"
                            size="45px"
                          ></v-icon>
                        </div>
                        <v-list-item-subtitle
                          :class="active ? 'brown--text' : 'black--text'"
                          class="mt-n1 caption"
                          >E-Wallet
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </v-card>
            </v-item>
          </v-col>
          <v-col cols="12" md="4">
            <v-item v-slot="{ active, toggle }">
              <v-card
                color="white"
                :class="active ? 'borderme' : ''"
                class="d-flex align-center rounded-lg line"
                dark
                height="65"
                @click="toggle"
                flat
              >
                <v-row>
                  <v-col cols="12" md="12">
                    <v-list-item
                      three-line
                      class="text-center"
                      @click="recieptStore.card()"
                    >
                      <v-list-item-content>
                        <div>
                          <v-icon
                            :color="active ? '#704232' : 'black'"
                            icon="mdi-card-bulleted"
                            size="45px"
                          ></v-icon>
                        </div>
                        <v-list-item-subtitle
                          :class="active ? 'brown--text' : 'black--text'"
                          class="mt-n1 caption"
                          >Card
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </v-card>
            </v-item>
          </v-col>
        </v-row>
      </v-container>
    </v-item-group>
    <v-row>
      <v-col cols="6">
        <div class="mx-3 mt-2">
          <v-btn
            color="#A27B5C"
            block
            dark
            class="widthoutupercase fontD font-weight-bold"
            @click="recieptStore.openBill()"
            >Print Bill</v-btn
          >
        </div>
      </v-col>
      <v-col cols="6">
        <div class="mx-3 mt-2">
          <v-btn
            color="#A27B5C"
            block
            dark
            class="widthoutupercase fontD font-weight-bold"
            @click="
              customerStore.Cusdiscount(),
                recieptStore.openReciept(),
                recieptStore.plusPoint(),
                (recieptStore.disabledIn = false)
            "
            >Confirm</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.v-card.borderme {
  border: 2px solid #974928 !important;
}

.col-12 {
  padding: 5px !important;
}

.v-btn.widthoutupercase {
  text-transform: none !important;
}

.sideright {
  display: flex;
  justify-content: end;
  align-items: right;
}

.font {
  font-family: fantasy;
}

.fontv2 {
  font-size: 20px;
}

.fontD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}

.size {
  font-size: 30px;
}

.size2 {
  font-size: 20px;
}
.line {
  border: 2px solid #293242;
}
.size3 {
  font-size: 15px;
}
</style>
