ื
<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useProductStore } from "@/stores/product";
import { useRecieptStore } from "@/stores/reciept";
import type catagory from "@/services/catagory";
import { useCatagoryStore } from "@/stores/catagory";
import FindMember from "./FindMember.vue";
const recieptStore = useRecieptStore();
const productStore = useProductStore();
const catagoryStore = useCatagoryStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;

const tab = ref([
  {
    id: "tab-1",
  },
  {
    id: "tab-2",
  },
  {
    id: "tab-3",
  },
  {
    id: "tab-4",
  },
  {
    id: "tab-5",
  },
]);
onMounted(async () => {
  await productStore.getProductsByCatagory(productStore.catagory);
  await catagoryStore.getCatagorys();
});
</script>
<template>
  <v-container class="ml-8">
    <v-tabs
      v-model="productStore.catagory"
      class="background"
      style="border-top-right-radius: 7px; border-top-left-radius: 7px"
      grow
    >
      <v-tab
        class="fontD font-weight-bold"
        v-for="item of catagoryStore.catagorys"
        :key="item.id"
        :value="item.id"
        >{{ item.name }}</v-tab
      >
    </v-tabs>

    <v-window v-model="tab">
      <v-window-item value="tab-1">
        <v-container
          class="bg-tab font"
          style="height: 80vh; overflow: auto"
          fluid
        >
          <v-row>
            <v-col
              cols="4"
              fluid
              v-for="item of productStore.products"
              :key="item.id"
            >
              <v-card
                ><v-img
                  cover
                  height="250px"
                  :src="`${backendURL}/products/image/${item.image}`"
                >
                </v-img>

                <v-card-actions>
                  <v-btn
                    class="fontD"
                    height="50"
                    block
                    @click="recieptStore.addProduct(item)"
                    >{{ item.name }} {{ item.price }} ฿</v-btn
                  ></v-card-actions
                ></v-card
              >
            </v-col>
          </v-row>
        </v-container>
      </v-window-item>
    </v-window>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background {
  background-color: #a27b5c;
}

.bg-color {
  background-color: #924d3c;
}

.bg-tab {
  background-color: #3c2a21;
}

.font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.text {
  justify-content: center;
}
.fontD {
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
}
</style>
