<script setup lang="ts">
import { useMessageSuccessStore } from "@/stores/messageSuccess";

const messageSuccessStore = useMessageSuccessStore();
</script>
<template>
  <v-snackbar v-model="messageSuccessStore.isShow" multi-line>
    <v-icon size="32" color="green">mdi-check-circle</v-icon>
    {{ messageSuccessStore.messageSuccess }}

    <template v-slot:actions>
      <v-btn
        color="green"
        variant="text"
        @click="messageSuccessStore.isShow = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>
