<script setup lang="ts">
import Chart, { type ChartConfiguration, type ChartItem } from 'chart.js/auto';
import { onMounted, ref } from 'vue';
import reportService from '@/services/report'
import { useRecieptStore } from '@/stores/reciept';
import type OrderChart from '@/types/OrderChart';
const recieptStore = useRecieptStore();
const chartname = ref<OrderChart[]>([]);

onMounted(async () => {
  const res = await reportService.getBestOrderChart();
  console.log("res",res)
  chartname.value = res.data; // อัพเดตค่าของ chartname
  const names = chartname.value.map((item) => {
    return item.name;
  });
  const bestsellers = chartname.value.map((item) => {
    return  parseInt(item.bestseller.toString(), 10);
  });
  console.log(names)
  console.log(bestsellers)

  const data = {
    labels: names,
    datasets: [{
        label: 'Sale count',
        data: bestsellers,
        borderColor: 'black',
        backgroundColor: [
            '#98fb98',
            '#5AC493',
            '#279FA4',
            '#4B9CC4',
            '#277AA4',
        ],
        hoverOffset: 4
    }]
  };

  const config: ChartConfiguration = {
    type: 'doughnut',
    data: data,
  };
  
  const canvasTag = <ChartItem>document.getElementById('youChart')
  new Chart(
    canvasTag,
    config
  );
});

</script>

<template>
    <h2></h2>
    <div class="chartsize1">
        <canvas id="youChart"></canvas>
    </div>
</template>
<style>
.chartsize1{
  margin: 0 auto;
  width: 80%;
}
</style>
