<script setup lang="ts">
import Chart, { type ChartConfiguration, type ChartItem } from 'chart.js/auto';
import { onMounted, ref } from 'vue';
import reportService from '@/services/report'
import type BestMembers from '@/types/BestMemberChart';

const bar = ref<BestMembers[]>([]);

onMounted(async () => {
  const res = await reportService.getCusByMonthChart();
  console.log(res)
  const Member: number[] = [];
  const month: string[] = [];

  bar.value = res.data;

  bar.value.forEach((item) => {
    Member.push(item.member);
    month.push(item.month_name);
  });

  console.log("member", Member);
  console.log("month", month);
  const data = {
    labels: month,
    datasets: [{
      axis: 'x',
      label: 'people value',
      data: Member,
      backgroundColor: [
        '#264e70',
  
      ],
      borderColor: [
        'rgb(255, 100, 172)',

      ],
      borderWidth: 1
    }]
  };

  const config: ChartConfiguration = {
    type: 'bar',
    data: data,
    options: {
      indexAxis: 'x',
    }
  };
  const canvasTag = <ChartItem>document.getElementById('memChart')
  new Chart(
    canvasTag,
    config
  );
});

</script>

<template>
    <h2></h2>
    <div class="chart-container">
        <canvas id="memChart"></canvas>
    </div>
</template>