<script setup lang = "ts" >
import type SaleByTime from '@/types/SaleByTime';
import Chart, { type ChartConfiguration, type ChartItem } from 'chart.js/auto';
import { onMounted, ref } from 'vue';
import reportService from '@/services/report'
const sale = ref<SaleByTime[]>([]);

onMounted(async () => {
  const res = await reportService.getSaleChart();
  console.log("sale res",res)
  sale.value = res.data; // อัพเดตค่าของ chartname
  const sales = sale.value.map((item) => {
    return item.total_sales;
  });
  const time_of_day = sale.value.map((item) => {
    return  item.time_of_day;
  });
  console.log("sales",sales)
  console.log("time of the day",time_of_day)

  const data = {
    labels: time_of_day,
    datasets: [{
        label: 'Total sales',
        data: sales,
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
    }]
};

const config: ChartConfiguration= {
    type: 'line',
    data: data,
};
  
  const canvasTag = <ChartItem>document.getElementById('salechart')
  new Chart(
    canvasTag,
    config
  );
});

</script>
<template>
    <h2></h2>
    <div class="chart-container">
        <canvas id="salechart"></canvas>
    </div>
</template>
<style>
.chart-container {
  width: 2000px;
  height: 500px;
  margin: 0 auto;
  width: 80%;
}
</style>