<script setup lang="ts">
import Chart, { type ChartConfiguration, type ChartItem } from 'chart.js/auto';
import { onMounted, ref } from 'vue';
import reportService from '@/services/report'
import { useRecieptStore } from '@/stores/reciept';
import type WorstOrderChart from '@/types/WorstOrderChart';
const recieptStore = useRecieptStore();
const chartname = ref<WorstOrderChart[]>([]);

onMounted(async () => {
  const res = await reportService.getWorstOrderChart();
  console.log("res",res)
  chartname.value = res.data; // อัพเดตค่าของ chartname
  const names = chartname.value.map((item) => {
    return item.name;
  });
  const worstsellers = chartname.value.map((item) => {
    return  item.worstseller;
  });
  console.log(names)
  console.log("number",worstsellers)

  const data = {
    labels: names,
    datasets: [{
        label: 'Sale count',
        data: worstsellers,
        borderColor: 'black',
        backgroundColor: [
            '#FEB7A2',
            '#F47373',
            '#C15FA4',
            '#792460',
            '#241561',
        ],
        hoverOffset: 4
    }]
  };

  const config: ChartConfiguration = {
    type: 'doughnut',
    data: data,
  };
  
  const canvasTag = <ChartItem>document.getElementById('weChart')
  new Chart(
    canvasTag,
    config
  );
});

</script>

<template>
    <h2></h2>
    <div class="chartsize1">
        <canvas id="weChart"></canvas>
    </div>
</template>

