<script setup lang="ts">
import { useRecieptStore } from "@/stores/reciept";

const recieptStore = useRecieptStore();
</script>
<template>
  <v-dialog v-model="recieptStore.QRcodeDialog" width="300">
    <v-card>
      <v-img
        src="https://cdn.discordapp.com/attachments/910082957065211904/1094257327206580405/image.png"
      ></v-img>
    </v-card>
  </v-dialog>
</template>
