<script setup lang="ts">
import ListView from "@/components/ListView.vue";
import MenuView from "@/components/MenuView.vue";
import ButtonView from "@/components/ButtonView.vue";
</script>
<template>
  <v-container class="bg-color" fluid>
    <v-container class="bg-color" fluid>
      <v-row>
        <v-col>
          <MenuView></MenuView>
          <ButtonView></ButtonView>
        </v-col>
        <v-col>
          <v-container>
            <v-container
              style="width: 700px; background-color: #e2dcc8"
              class="rounded-lg"
            >
              <ListView></ListView>
            </v-container>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>
<style>
.bg-color {
  background-color: #282a3a;
}
</style>
