<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import { useRecieptStore } from "@/stores/reciept";

const recieptStore = useRecieptStore();
const customerStore = useCustomerStore();
</script>
<template>
  <v-dialog v-model="recieptStore.promotion" persistent width="1500">
    <v-card>
      <v-card-title>
        <span class="text-h5"><div class="fontM">Promotion</div></span>
      </v-card-title>
      <br />
      <v-card-text>
        <v-container
          ><v-row
            ><v-col
              ><v-card width="300px">
                <span class="text-h5"
                  ><div class="namepro">Promotion 1</div></span
                ><br />
                <span><div class="center">10 point = 10 discount</div></span>

                <v-card-actions>
                  <v-btn
                    color="#A27B5C"
                    prepend-icon="mdi-sale"
                    height="50px"
                    width="250px"
                    class="fontD rounded-lg font-weight-bold ml-4"
                    @click="recieptStore.promotion1()"
                    >Use Promotion</v-btn
                  ></v-card-actions
                ></v-card
              > </v-col
            ><v-col>
              <v-card width="300px">
                <span class="text-h5"
                  ><div class="namepro">Promotion 2</div></span
                ><br />
                <span><div class="center">20 point = 20 discount</div></span>

                <v-card-actions>
                  <v-btn
                    color="#A27B5C"
                    prepend-icon="mdi-sale"
                    height="50px"
                    width="250px"
                    class="fontD rounded-lg font-weight-bold ml-4"
                    @click="recieptStore.promotion2()"
                    >Use Promotion</v-btn
                  ></v-card-actions
                ></v-card
              ></v-col
            >
            <v-col>
              <v-card width="300px">
                <span class="text-h5"
                  ><div class="namepro">Promotion 3</div></span
                ><br />
                <span><div class="center">30 point = 50 discount</div></span>

                <v-card-actions>
                  <v-btn
                    color="#A27B5C"
                    prepend-icon="mdi-sale"
                    height="50px"
                    width="250px"
                    class="fontD rounded-lg font-weight-bold ml-4"
                    @click="recieptStore.promotion3()"
                    >Use Promotion</v-btn
                  ></v-card-actions
                ></v-card
              ></v-col
            ></v-row
          ></v-container
        >
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#AF0000"
          variant="text"
          @click="recieptStore.promotion = false"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style>
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
.font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
}
.font5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
  text-align-last: center;
}
.fontM {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align-last: center;
  font-size: 25px;
}
.namepro {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align-last: center;
  font-size: 25px;
}
.center {
  text-align-last: center;
  font-size: 20px;
}
</style>
