<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import { useRecieptStore } from "@/stores/reciept";
import { computed } from "vue";

const recieptStore = useRecieptStore();
const customerStore = useCustomerStore();
const change = computed(() => {
  return (
    recieptStore.received - (recieptStore.sumPrice - recieptStore.discount)
  );
});
</script>
<template>
  <v-dialog v-model="recieptStore.Billdialog" persistent width="600">
    <v-card>
      <v-card-title>
        <span class="text-h5"><div class="fontM">Print Bills</div></span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <div class="font">Customer Name</div>
          <div>{{ customerStore.POSnameMember }}</div>
          <div class="font">Customer Point</div>
          <div>
            {{ customerStore.POSpointMember }}
          </div>
          <br />
          <div class="font">Product List</div>
          <v-table style="font-family: Arial, Helvetica, sans-serif">
            <thead>
              <tr>
                <th>Amount</th>
                <th>Name</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) of recieptStore.orderList" :key="index">
                <td>{{ item.amount }}</td>

                <td>{{ item.product.name }}</td>
                <td>{{ item.sum }} ฿</td>
              </tr>
            </tbody>
          </v-table>
          <br />
          <v-row>
            <v-col cols="12">
              <div class="font">Total</div>
              <div>{{ recieptStore.sumPrice - recieptStore.discount }}</div>
            </v-col>
            <v-col cols="12">
              <div class="font">Discount</div>
              <div>{{ recieptStore.discount }}</div>
            </v-col>

            <v-col cols="12">
              <div class="font">Received</div>
              <div>{{ recieptStore.received }}</div>
            </v-col>
            <v-col cols="12">
              <div class="font">Change</div>
              <div>{{ change }}</div>
            </v-col>
            <v-col cols="12">
              <div class="font">Payment</div>
              <div>{{ recieptStore.payment }}</div>
            </v-col>
            <v-col>
              <div class="font5">Thank you for using the service シ</div>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#AF0000"
          variant="text"
          @click="recieptStore.Billdialog = false"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style>
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
.font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
}
.font5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
  text-align-last: center;
}
.fontM {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align-last: center;
  font-size: 25px;
}
</style>
