<script setup lang="ts">
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useEmployeeStore } from "@/stores/employee";
import { useEmployeePageStore } from "@/stores/employee-page";
import { onMounted, ref } from "vue";
import EmployeeDialog from "./EmployeeDialog.vue";
const employeeStore = useEmployeeStore();
const employeePageStore = useEmployeePageStore();
const confirmDlg = ref();
onMounted(async () => {
  await employeePageStore.getEmployees();
});
const deleteEmployee = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ Id ${id} หรือไม่`
    );
    await employeeStore.deleteEmployee(id);
  } catch (e) {
    /* empty */
  }
};
</script>
<template>
  <v-app-bar color="#293242">
    <div
      style="
        font-size: xx-large;
        font-family: fantasy;
        padding: 15px;
        color: white;
      "
    >
      Employee
    </div>
  </v-app-bar>

  <v-container class="d-flex justify-end">
    <v-table>
      <thead class="d-flex justify-end">
        <tr>
          <td>
            <v-text-field
              v-model="employeePageStore.keyword"
              single-line
              hide-details
              append-inner-icon="mdi-magnify"
              density="compact"
              variant="solo"
              label="Search Name"
              style="
                width: 25vw;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                  sans-serif;
              "
            ></v-text-field>
          </td>
          <td>
            <v-btn
              @click="employeeStore.dialog = true"
              color="#03C04A"
              style="
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                  sans-serif;
              "
              >+ Add New</v-btn
            >
          </td>
        </tr>
      </thead>
    </v-table>
  </v-container>
  <EmployeeDialog></EmployeeDialog>

  <v-table style="font-family: fantasy">
    <thead>
      <tr class="tColor">
        <th class="fontD font-weight-bold">ID</th>
        <th class="fontD font-weight-bold">Name</th>
        <th class="fontD font-weight-bold">login</th>
        <th class="fontD font-weight-bold">Password</th>
        <th class="fontD font-weight-bold">Address</th>
        <th class="fontD font-weight-bold">Tel</th>
        <th class="fontD font-weight-bold">Email</th>
        <th class="fontD font-weight-bold">Position</th>
        <th class="fontD font-weight-bold">Hourlywage</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="fontD sizeS"
        v-for="item of employeePageStore.employees"
        :key="item.id"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.login }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.position }}</td>
        <td>{{ item.hourlywage }}</td>
        <td>
          <v-btn
            color="#A3A2A2"
            class="mr-5 mt-2 mb-2"
            @click="employeeStore.editEmployee(item)"
            ><v-icon icon="mdi-pencil"></v-icon></v-btn
          ><v-btn
            class="mt-2 mb-2"
            color="#E86E6E"
            @click="deleteEmployee(item.id!)"
            ><v-icon icon="mdi-delete"></v-icon
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
  <v-pagination
    :length="employeePageStore.lastPage"
    rounded="circle"
    v-model="employeePageStore.page"
  ></v-pagination>

  <v-container hidden>
    <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.fontD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.size {
  font-size: 30px;
}
.sizeS {
  font-size: 15px;
}
.tColor {
  background-color: #6f7762;
}
</style>
