<script setup lang="ts">
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
import MessageConfirm from "./components/MessageConfirm.vue";
import CheckoutDialog from "./views/checkinouts/CheckoutDialog.vue";
import CheckinDialog from "./views/checkinouts/CheckinDialog.vue";
import EWallaletDialog from "./views/pointofsale/EWallaletDialogView.vue";
import BillMaterialDialog from "./views/materials/BillMaterialDialog.vue";
import PromotionDialog from "./views/pointofsale/PromotionDialog.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  >
  </component>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <MessageConfirm></MessageConfirm>
  <CheckinDialog></CheckinDialog>
  <CheckoutDialog></CheckoutDialog>
  <EWallaletDialog></EWallaletDialog>
  <BillMaterialDialog></BillMaterialDialog>
  <PromotionDialog></PromotionDialog>
</template>

<style scoped></style>
