<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { onMounted, ref } from "vue";
import UserDialog from "./UserDialog.vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useUserPageStore } from "@/stores/user-page";
const userStore = useUserStore();
const userPageStore = useUserPageStore();
const confirmDlg = ref();
onMounted(async () => {
  await userPageStore.getUsers();
});
const deleteUser = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ ${id} หรือไม่`
    );
    await userStore.deleteUser(id);
  } catch (e) {
    /* empty */
  }
};
</script>
<template>
  <v-container style="background-color: #c19a6b; padding-bottom: 59.5vh" fluid>
    <div
      style="
        font-size: xx-large;
        font-family: fantasy;
        padding: 15px;
        color: #151618;
      "
    >
      User
    </div>
    <v-divider></v-divider>
    <v-container>
      <v-container class="d-flex justify-end" style="background-color: #c19a6b">
        <v-table style="background-color: #c19a6b">
          <thead class="d-flex justify-end">
            <tr>
              <td>
                <v-text-field
                  v-model="userPageStore.keyword"
                  single-line
                  hide-details
                  append-inner-icon="mdi-magnify"
                  density="compact"
                  variant="solo"
                  label="Search Name"
                  style="
                    width: 25vw;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                      sans-serif;
                  "
                ></v-text-field>
              </td>
              <td>
                <v-btn
                  @click="userStore.dialog = true"
                  color="#974928"
                  style="
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                      sans-serif;
                  "
                  >+ Add New</v-btn
                >
              </td>
            </tr>
          </thead>
        </v-table>
      </v-container>
      <UserDialog></UserDialog>

      <v-card>
        <v-table style="font-family: fantasy">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Password</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of userPageStore.users" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.password }}</td>
              <td>
                <v-btn
                  color="#c0c0c5"
                  class="mr-5"
                  @click="userStore.editUser(item)"
                  ><v-icon icon="mdi-pencil"></v-icon></v-btn
                ><v-btn color="#c0c0c5" @click="deleteUser(item.id!)"
                  ><v-icon icon="mdi-delete"></v-icon
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
          :length="userPageStore.lastPage"
          rounded="circle"
          v-model="userPageStore.page"
        ></v-pagination>
      </v-card>
    </v-container>
    <v-container hidden>
      <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
    </v-container>
  </v-container>
</template>
